@{
    ViewData["Title"] = "Informacje o Projekcie";
}
<h1>@ViewData["Title"]</h1>
<div class="Tekst">
<p>Projekt ma symulować tworzenie i wykonywanie transakcji bankowych</p>
<p2>Został wykonany przez Piotra Dziadkowca nr Albumu to 13638</p2>
</div>